.contenedor{
    height: 700px;
    padding: 50px;
    background-image: url('./../../../img/Fondo_contactanos.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContForm{
    width: 65%;
    height: 550px;
    background-color: rgb(20, 20, 58);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contEncontranos{
    width: 35%;
    height: 550px;
    background-color: rgb(23, 23, 63);
    text-align:center;
    border-left: 4px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}


.contenedorUbicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 2.3em;
    color: white;
}

.redes{
    text-align: left;
    padding: 10px;
    color: white;
}

.titulo {
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    padding-right: 30px;
}

.section{
    display: flex;
}

.txt{
    border: none; 
    border-bottom: 1px solid rgb(239, 239, 239);
    /* border-radius: 3px; */
    background-color: transparent; 
    outline: none; 
    width: 700px;
    height: 80px;
    margin-bottom: 40px;
    color: white;
    font-size: 1rem;
}

.campoForm{
    display: flex;
    align-items: center;
    flex-direction: column;

}
 
.inputs {
    border: none; 
    border-bottom: 1px solid rgb(214, 214, 214);
    /* border-radius: 3px; */
    background-color: transparent; 
    outline: none; 
    width: 80%;
    height: 45px;
    margin-bottom: 40px;
    color: white;
    font-size: 1rem;
}

.enviar{
    border: none; 
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    background-color: white;
    border-radius: 5px;
    /* background-color: transparent;  */
    outline: none; 
    /* color: white; */
    color: rgb(6, 6, 77);
    height: 35px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

/* .enviar:hover{
    background-color: white;
    color: rgb(6, 6, 77);

} */

.inputs::placeholder{
    color: rgb(216, 216, 216);
}

.txt::placeholder{
    color: rgb(216, 216, 216);
}
.ubi{
    height: 320px;
    width: 350px;
}


@media screen and (width <= 758px){
    .titulo{
        font-size: 2em;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 170vh;
        padding: 0;
        margin: 0px 10px;
        
    }
    .contEncontranos{
        padding: 10px;
        width: 100%;
        border: none;
        margin-bottom: 50px;
        border-radius: 5px
       
    }
    .contEncontranos div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ubi{
        width: 290px;
    }
    .ContForm{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        height: fit-content;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-radius: 5px
    }
    .contenedorUbicacion{
        margin: 0;
        margin-bottom:10px;
    }
    .txt{
        width: 100%;
    }
    .redes{
        justify-content: space-around;
    }
    .section{
        display: flex;
        flex-direction: column;
    }
    .campoTexto{
        width: 80%;
    }
}