.contenedor{
    height: 700px;
    padding: 50px;
    background-image: url('./../../../img/Fondo_contactanos.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}



.ContForm{
    width: 65%;
    height: 550px;
    background-color: rgb(224, 231, 238);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contEncontranos{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 550px;
    background-color: rgb(224, 231, 238);
    text-align:center;
    border-left: 4px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: nunitoSans;
}
.contEncontranos div{
    align-items: center;
}


.contenedorUbicacion{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: nunitoSans;
}


.tituloMapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.redes{
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    color: rgb(9, 9, 65);
    font-family: nunitoSans;
    padding-left: 20px;
}

.redes li {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;
}

.titulo {
    color: rgb(9, 9, 65);
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: nunitoSans;
}

.h1{
    font-family: nunitoSans;
}

.section{
    display: flex;
}

.txt{
    border: none; 
    border-bottom: 1px solid rgb(9, 9, 65);
    /* border-radius: 3px; */
    background: transparent;
    /* background-color: rgb(224, 231, 238);  */
    outline: none; 
    width: 700px;
    height: 80px;
    margin-bottom: 40px;
    color: rgb(9, 9, 65);
    font-size: 1rem;
    font-family: nunitoSans;
}

.campoForm{
    display: flex;
    align-items: center;
    flex-direction: column;

}
 
.inputs {
    border: none; 
    border-bottom: 1px solid rgb(9, 9, 65);
    /* border-radius: 3px; */
    background-color: transparent; 
    outline: none; 
    width: 80%;
    height: 45px;
    margin-bottom: 40px;
    color: rgb(9, 9, 65);
    font-size: 1rem;
    font-family: nunitoSans;
}


.enviar{
    border: none; 
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    background-color: rgb(9, 9, 65);
    border-radius: 5px;
    /* background-color: transparent;  */
    outline: none; 
    color: white;
    font-family: nunitoSans;
    height: 35px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

.inputs::placeholder{
    color: rgba(54, 24, 109, 0.61);
}

.txt::placeholder{
    color: rgba(54, 24, 109, 0.61);
}
.ubi{
    height: 320px;
    width: 350px;
}


@media screen and (width <= 758px){
    .titulo{
        font-size: 2.4em;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 230vh;
        padding: 0;
        margin: 0px 10px;
        
    }
    .contEncontranos{
        padding: 10px;
        width: 100%;
        border: none;
        margin-bottom: 50px;
        border-radius: 5px
       
    }

    .contEncontranos div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ubi{
        width: 290px;
    }

    .ContForm{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        height: fit-content;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .contenedorUbicacion{
        display: flex;
        margin: 0;
        margin-bottom:10px;
        gap: 10px;
    }

    .txt{
        width: 100%;
    }

    .redes{
        justify-content: space-around;
    }

    .section{
        display: flex;
        flex-direction: column;
    }
    .campoTexto{
        width: 80%;
    }
}