
.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid rgb(183, 183, 183);
    margin: 50px 40px;
}

.titulo {
    font-size: 50px;
    margin-bottom: 20px;
    margin: 30px;
    color: rgb(7, 3, 68);
}