
.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo {
    font-size: 2em;
    margin-bottom: 20px;
    margin: 30px;
    color: rgb(7, 3, 68);
    font-size: xx-large;

}