  

.infoImg {
  min-height: 200vh;
  background-image: url(/img/Fondo.png);
  background-blend-mode:darken;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  align-items: center;
}



.descripcion {
  font-size: 18px;
  margin-bottom: 50px;
}

.descContainer {
  background-image: url("../../../img/Fondo.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: -35px;
}

.containerSlider {
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  font-size: 15px;
  background-color: rgb(4, 4, 43);
  overflow-x: hidden;
}


.especialidades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230%; /* Duplicamos el ancho para acomodar los elementos repetidos */
  color: rgb(234, 234, 234);
  animation: scroll 20s linear infinite;
}

.especialidades p {
  margin-right: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(5%); /* Comienza desde la posición inicial */
  }
  100% {
    transform: translateX(-50%); /* Se desplaza completamente a la izquierda */
  }
}

@media  screen and (width <= 758px) {

  .infoImg{
    padding: 40px;
    width: 100%;
  }

  .encabezado {
    margin-top: 40px;
  }

  .containerSlider{
    font-size: 5px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: rgb(59, 59, 104);
  }
  

  .descripcion{
    padding-top: 10px;
    font-size: small;
    font-weight: 700;
    text-align: center;
  }

  .especialidades p{
    font-size: 13px;
  }

  
}