.container {
  background-image: url("./../../../img/FondoConocenos.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 30px;
  width: 93%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 20px;
}

.title h1 {
  font-size: 3.8em;
  padding-top: 5px;
  color: #001f3f;
  padding-bottom: 10px;
  font-family: nunitoSans;
}

.title div{
  margin-bottom: 20px;
}

.title div p{
  font-family: nunitoSans;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}

.cardContainer {
  flex: 1 1 calc(50% - 20px);
  background: #f4f5faee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(43, 38, 114, 0.39);
}

.item {
  text-align: left;
}

.item h2 {
  font-size: 1.5em;
  color: #00173A;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: nunitoSans;
}

.item p {
  font-size: 1.0em;
  color: #070125;
  text-align: center;
  font-family: nunitoSans;
}

.valuesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.valueCard {
  flex: 1 1 calc(33.333% - 10px);
  background: #e0eafc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  color: #001f3f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.containerOpiniones {
  height: 70vh;
  margin-top: 40px;
}

.containerOpiniones h1 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
  color:#00173A;
  font-family: nunitoSans;
}

@media (max-width: 768px) {
  .containerOpiniones {
    margin-top: 30px;
    height: 80vh;
  }

  .containerOpiniones h1 {
    font-size: 30px;
  }

  .title h1 {
    font-size: 40px;
  }

  .title div{
    font-size: 13px;
  }
}
