

.container {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.container hr {
    width: 18%;
    border-color: rgb(30, 27, 49);
}
.logo{
    width: 60px;
    border-radius: 50px;
}