* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contenedor {
  background-image: url("/img/imagen-fondo.jpg");
  background-size: cover;
  height: 100vh;

}


.header {
  min-height: 100px;
  color: white;
  opacity: 0.9;
}

.headerSuperior {
  display: flex;
  background-color: rgb(3, 3, 68);
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 18px;
  height: 60px;
}

.headerInferior {
  display: flex;
  justify-content: center;
  background-color: rgb(21, 21, 116);
  gap: 50px;
  align-items: center;
  padding: 5px 0px;
  font-size: 17px;
  height: 40px;
  
}


.redes {
  display: flex;
  gap: 30px;
  padding: 0px 20px;
}

.telefono {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nombre {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 250px;
  text-align: center;
  font-size: 25px;
}

.infoImg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.infoImg h1 {
  font-size: 100px;
  color: rgb(3, 3, 68);
  width: 45%;
  font-weight: 200;
}

.infoImg div {
  width: 35%;
  background-color: rgb(3, 3, 68);
  opacity: 0.8;
  padding: 30px 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
}
