* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo{
  width: 100px;
}

.header {
  display: flex;
  background-color: #00173A;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: black;
  align-items: center;
  padding: 10px 30px;
  font-size: 18px;
  height: 60px;
  top: 0px;
  position: sticky;
  z-index: 40;
  transition: all 0.3s;
}

.headerfixed{
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  align-items: center;
  padding: 10px 30px;
  font-size: 18px;
  height: 60px;
  top: 0px;
  position: sticky;
  z-index: 40;
  transition: all 0.2s;
}

.redes {
  transition: all 0.2s;
  display: flex;
  gap: 30px;
  padding: 0px 0px;
  align-items: center;
}

.redesfixed{
  transition: all 0.2s;
  color: #00173A;
  display: flex;
  gap: 30px;
  padding: 0px 0px;
  text-align: center;
}

.navegacion {
  display: flex;
  gap: 30px;
}

.link {
  transition: all 0.2s;
  text-decoration: none;
  font-weight: 100;
  color: rgb(243, 245, 248);
}

.linkfixed{
  transition: all 0.2s;
  text-decoration: none;
  font-weight: 100;
  color: #00173A;
}

.link:hover {
  scale: 1.1;
}

.linkfixed:hover{
  scale: 1.1;
}

/* Header.module.css */
.menuButton {
  display: none;
  color: white;
}

.menuButtonFixed{
  display: none;
  color: #00173A;
}

@media (max-width: 758px) {
  .navegacion {
    display: none;
  }
  .menuButton {
    display: block;
    
  }
  .redes{
    display: none;
  }

  .redesfixed{
    display: none;
  }
  .menuButtonFixed{
    display: block;
    color: #00173A;
  }
}
