* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  /* background-color: rgb(35, 27, 93); */
  /* background-color: rgb(3, 3, 68); */
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: black;
  align-items: center;
  padding: 10px 30px;
  font-size: 18px;
  height: 60px;
  top: 0px;
  position: sticky;
  z-index: 100;
}

.redes {
  display: flex;
  gap: 30px;
  padding: 0px 20px;
}

.navegacion {
  display: flex;
  gap: 30px;
}

.link {
  transition: all 0.2s;
  text-decoration: none;
  color: rgb(52, 69, 111);
}

.link:hover {
  scale: 1.1;
}
