/* App.css */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}



.slick-slide div {
  display: flex;
  justify-content: center;
  color: rgb(3, 8, 56);
}
.slick-slide {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  height: 350px;
  font-size: larger;
}
.slick-dots {
  padding: 80px;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(3, 8, 56); /* Color de los botones de navegación */
}

.slick-dots li button:before {
  color: rgb(3, 8, 56); /* Color de los puntos de navegación */
}

.slick-dots li.slick-active button:before {
  color: rgb(3, 8, 56); /* Color del punto activo */
}

/* Personalización adicional */
.slick-slide h3 {
  /* background: #08023f; */
  color: rgb(7, 3, 68);
  padding: 40px 0;
  margin: 0;
  border-radius: 10px;
  font-style: italic;
  font-size: 1.1em;
  font-family: nunitoSans;
}

.slick-slide p {
  color: rgb(7, 3, 68);
  font-style: italic;
  font-family: nunitoSans;
}

.slick-track {
  background-color: white;
}
