/* Footer.module.css */
.footerContainer {
  background-color: rgb(18, 18, 61);
  /* background: linear-gradient(white, rgb(151, 151, 221)); */
  color: black;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  height: 60vh;
  flex-wrap: wrap;
}

.footerLogo {
  display: flex;
  align-items: center;
  width: 30%;
}

.footerLogo img {
  width: 100%;
}

.footerSection {
  width: 40%;
  flex: 1;
  margin: 0 10px;
  min-width: 200px;
}

.footerTitle {
  padding-top: 30px;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 70%;
}

.footerText {
  color: white;
  font-size: 0.9em;
  line-height: 1.5;
}
.footerText img {
  width: 300px;
}

.footerBottom {
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 0.8em;
  margin-top: 40px;
  background-color: rgb(18, 18, 61);
  width: 100vw;
  padding: 10px;
}

.footerLink {
  color: white;
  text-decoration: none;
  
}

.footerLink:hover {
  font-size: 1.1em;
}
