/* Footer.module.css */
.footerContainer {
  background-color: #00173A;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 70vh;
  padding-left: 0px;
}

.footerTop{
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-top: 40px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 33%;
}

.imgLogoFooter {
  width: 300px;
}

.footerLogo p {
  color: rgb(192, 192, 192);
}

.footerLogo img {
  width: 80%;
}

.footerSection {
  width: 33%;
  min-width: 200px;
  /* padding-bottom: 20px; */
}

.footerTitle {
  /* padding-top: 30px; */
  font-size: 1.7em;
  margin-bottom: 10px;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 70%;
}

.footerText {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* align-items: center; */
}

.footerText img {
  width: 300px;
}

.footerBottom {
  color: rgb(188, 188, 188);
  border-top: 1px solid rgb(135, 135, 135);
  text-align: center;
  justify-content: center;
  font-size: 0.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00173A;
  width: 100%;  
}

.footerLink {
  color: rgb(192, 192, 192);
  text-decoration: none;
  transition: all 0.3s;
}

.footerLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  
  .footerContainer {
    height: auto;
    align-content: center;
  }

  .footerTop {
    flex-direction: column;
    padding-left: 30px;
  }

  .footerSection {
    width: 100%;
    min-width: unset;
    padding-bottom: 10px;
  }

  .footerSection Iframe{
    width: 250px;
    height: auto;
  }

  .footerLogo {
    width: 100%;
    align-items: start;
    margin-bottom: 50px;
  }

  .footerLogo p {
    margin-left: 70px;
  }

  .footerTitle {
    font-size: 1.5em;
  }

  .footerText {
    font-size: 1em;
  }

  .footerBottom {
    padding: 10px;
  }
}

